#Header{
    background-image: url(home.jpeg)
}

#header-img { 
  object-fit: contain;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0 0 5px 0;
  margin-bottom: 10px;

}

#Home h1{
  line-height: 60px;
  font-size: 60px;
  font-weight: 900;
  padding: 10px;
  color: white;   
  font-family: 'Courier New', Courier, monospace;
}

.offcanvas-custom-width {
  --bs-offcanvas-width: 250px;
}

 .btn:hover {
   background-color: aqua 
    ;
 }

 #Home {
  width: 100%;
  height: 360px;
  text-align: center;
 }

 p {
  line-height: 50px;
  box-sizing: border-box;
 }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
}

 .flex-item {
  background-color:  #f8f8ff;
  border: 2px solid;
  border-color:#00bfff;
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  height: 385px;
  width: 150px;
  flex:100%;
 } 

 #carouselExampleIndicators {
  text-align: center;
  padding: 20px;
  margin: 20px;
 }

 h2 {
  padding: 10px;
  margin: 10px;
 }



/*media query section*/

 @media (min-width: 800px) {
.flex-item{
  flex: 50%;
  flex-direction: row;
  padding: 15px 15px;
  margin: 5px 0;
  width: 50px;
}
 }