button {
    font-size: 30px;
    background-color:dodgerblue ; 
    display: flex;
    margin: 15px;
    margin-top: 0px;
    border-radius: 8px;
    float:left;
 }

 button:hover {
   background-color: azure ;
 }

 #carouselExampleIndicators {
  width: 100px;
  height: 100px;
 }


