button {
    font-size: 30px;
    background-color:dodgerblue ;
    margin: 15px;
    margin-top: 0px;
    border-radius: 8px;
    float:left;
 }

 button:hover {
   background-color: azure ;
 }

 #Home {
  background-image: image-set(eclipse01-oe/Project/home.jpeg);
 }

 #About {
  padding: 20px;
  margin: 20px;
  text-align: center;
 }

 #aboutCon {
  margin-top: 100px;
  padding-top: 100px;
 }

 #carouselExampleIndicators {
  text-align: center;
  padding: 20px;
  margin: 20px;
 }
